<!DOCTYPE HTML>

<html>
	
<head>
<title>Tutorial Template</title> 
<link rel="icon" href="../favicon.png" type="image/x-icon" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../assets/css/main.css" />
<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1J6V1SM060"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-1J6V1SM060');</script>
</head>

<body class="is-preload">

<div id="wrapper">

<div id="main">

<div class="inner">

<h4><a href="../index.html">Home</a></h4>
<h4>How to edit this tutorial <a href="https://youtu.be/CiGGkG4tWGc?si=AkuzJBoJrU42yAIR" target="_blank">(Video instructions)</a></h4>
<ul>
	<li>Download the repository from <a href="https://github.com/andreashlarsen/SAStutorials" target="_blank">GitHub</a>.</li>
	<li>Copy Template.html and rename (e.g., MyTutorial.html). Place in a new folder with the same name (e.g. Mytoturial/). </li>
	<li>Edit Template.html, with a text editor, e.g., <a href="https://code.visualstudio.com" target="_blank">Visual Studio Code</a>, which is free and available for Linux, MacOs and Windows.</li>
	<li>View your changes by double-clicking Template.html (this will open it in a browser). If already open, refresh to see changes.</li>
	<li>Add an entry in the index.html file correspoinding to the new tutorial (see instructions in the <a href="https://youtu.be/CiGGkG4tWGc?si=AkuzJBoJrU42yAIR" target="_blank">video.</li>
	<li>Once you are happy with the new tutorial, sent it to andreas larsen (andreas.larsen (at) sund.ku.dk), who will test it and upload it to SAStutorials.org.</li>
	<li>You may also push it to the repo (remember to pull latest version of repo immediately before pushing to avoid conflicts).</li>
</ul>
<h1>Tutorial: How to make a tutorial (Template)</h1>
<p>Contributors: INSERT YOUR NAME(S).</p>
<p>
<img src="Template.png" style="width:400px"/><br> 
<em>Insert an illustration that also goes here and to the front page. Square format. Please ensure that there are no copyright issues. This caption in italic.</em></a>
</p>
<h4>Before you start</h4>
Each tutorial contains some paragraphs, the first being "Before you start", where you can list prerequisites, e.g.:
	<ul>
	<li>Programs that should be installed (if any).</li>
	<li>Tuturials that are recommended to complete first.</li>
	<li>Mandatory or recommended reading material/videos.</li>
	</ul>
	
<h4>Learning outcomes</h4>
The next section in "Learning outcomes". Start by stating a 1-sentence learning outcome for the tutorial, E.g.: <br>
In this tutorial you will learn to make a new tutorial for the website SAStutorials.org. 
<ul>
	Also, list 3-5 specific learning outcomes for the tutorial, e.g.:	
	<li>Get an overview of the structure and different sections in a tutorial on SAStutorials.org. </li>
	<li>Be familiar with sufficiently html code to make a new totorial, including math and links.</li>
	<li>Be able to design challenges, where the acquired skills are used.</li>
</ul>

<h4>Introductory remarks</h4>
	<p>
		You may want to add some introductory remarks, e.g. a bit of context or key theory. However, these tutorials are not online textbooks, so be consise.
	</p>

<h4>Part I: Generate links</h4>
	<p>
	Each part of the tutorial introduces a concept related to the learning outcomes, and which can help to solve the challenges. These parts includes some specific tasks to solve. Each tutorial should contain ca. 3-4 parts with walked-throug and explained analysis, providing files so the user can do the analysis themself.<br>
	<ul>
	E.g., in this Part 1, it is demonstrated how to make links, including how to:
	<li>make an <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">external link</a>:<br>
	<code>  &lt;a href="https://www.w3schools.com/html/html_links.asp" target="_blank"&gt;external link&lt;/a&gt;</code><br>
	</li>
	<li>make an <a href="internal_link.html" target="_blank">internal link</a> (click on the link to see examples of what is may be used for)<br>
	<code>  &lt;a href="interal_link.html" target="_blank">internal links, e.g. hints&lt;/a&gt;</code><br>
	</li>
	<li>make links to <a href="example-file-for-template-tutorial.txt"  target="_blank">download a file</a> (right-click and press save as to download):<br>
	<code>  &lt;a href="example-file-for-template-tutorial.txt"  target="_blank"&gt;download a file&lt;/a&gt;</code><br>
	</li>
	</ul>
	Try to <a href="Template.html"  target="_blank">download this file</a> (right-click > save file as), open in a texteditor and edit or add a links. Open in a browser to see the result.
	</p>

<h4>Part II: Write math</h4>
	<p>
	Math can be written in-line, e.g. $E=mc^2$ (<code>&dollar;E=mc^2&dollar;</code>) or $a=\sqrt{(b^2+c^2)}$ (<code>&dollar;a=\sqrt{(b^2+c^2)}&dollar;</code>), or it can be written on a separate line by use of double dollor signs, e.g.:<br>
	<code>&dollar;&dollar;q = \frac{9.2\pi}{\lambda} \sin(\theta)&dollar;&dollar;</code><br>
	which renders as:
	$$q = \frac{9.2\pi}{\lambda} \sin(\theta)$$	
	Try to <a href="Template.html"  target="_blank">download this file</a> (right-click > save file as), and correct the mistake in the definition of $q$.
	</p>

<h4>Part III: Insert images (and make it square if used as main illustration)</h4>
	<p>
		Images can be inserted in the tutorial <br>
		<img src="Template.png" style="width:200px"><br> 
		<code>&lt;img src="Template.png" style="width:150px"&gt;</code><br>
		Images make the tutorials visually appealing and help explain key concepts and results.<br>
		If you have a picture that you want to user as cover illustration for you tutorial (to appear at <a href="sastutorial.org"  target="_blank">sastutorial.org</a> front page), it should be square format. 
		If it is not, you can, e.g., insert it in a <a href="Template.pptx" target="_blank">power point</a>, and adjust the size (Design -> Slide size), and export it as an image<br>
		<img src="square_format.png" style="width:500px"><br> 
		Try to <a href="Template.html" target="_blank">download this tutorial</a> (right-click > save file as), and change the cover photo (adjust dimensions of the new cover photo if necessary)<br>
	</p>

<h4>Part IV: Higlight with a box</h4>
    <p>
	If you have something to highlight (a concept, a check list, a step-by-step guide), it can be highlighted. E.g. this list <br>
	<code>
	&lt;ol style="border-width:3px; border-style:solid;border-color:#697698; padding: 1em; padding-left: 40px; background-color: #f9f9f9"&gt; <br>
	&lt;b&gt;How to design a new tutorial:&lt;/b&gt;<br>
	&lt;li&gt;...&lt;\li&gt;<br>
	&lt;ol&gt;
	</code>
	<ol style="border-width:3px; border-style:solid;border-color:#697698; padding: 1em; padding-left: 40px; background-color: #f9f9f9"> 
		<b>How to design a new tutorial:</b>
		<li>Identify a subject that should be covered with a tutorial.</li>
		<li>Consider overall and specific learning outcomes.</li>
		<li>Design 1-3 challenges that can be solved after requiring the skills of the tutorials. Preferably including analysis of real SAXS or SANS data.</li>
		<li>Copy the <a href="https://github.com/andreashlarsen/SAStutorials" target="_blank">SASTutorial GitHub page</a> to your computer.</li>
		<li>Copy the template folder and rename it.</li>
		<li>To edit the html files, you must open them in a text editor, if you open them in a browser, you see the final result.</li>
		<li>Make 2-4 parts in the tutorial with walk-through and explained analysis, providing files so the user can do the analysis themself. Explain rule-of-thumbs and pitfalls, og technical challenges. Use images for illustarations, e.g. screenshots from a software package that is demonstrated.</li>
		<li>Find a representative image for the tutorial, make it square format and put in the folder.</li>
		<li>Add your tutorial to the index file (copy one of the other entries and edit).</li>
		<li>Check that everything is working. This can be done locally, in a browser.</li>
		<li>Upload your new tutorial and the edited index file to the GitHub page (this will be checked by developers before being merged and thus be part of the sastutorials.org website).</li>
	</ol>
    </p>


<h4>Challenges</h4>
	The challenges are open tasks that can be solved using the parts above. E.g.:
	<ul>
		<li>Challenge 1: Download this tutorial and add a new part (Part 5) to the tutorial. To see the result, open in a browser, and to edit files, open in a text editor.</li>
		<li>Challenge 2: Add a tutorial to SAStutorials.org, on any aspect of SAXS/SANS analysis that is not yet covered.</li>
	</ul>

<h4>Perspectives</h4>
<p>
	In this section you may add a few examples of how the methods have been used, with key references. Keep it short, it is not a review, but an appetizer.  
</p>

<!--
DO NOT CHANGE ANYTHING BELOW
-->

<h4>Feedback</h4>
	Help us improve the tutorials by 
	<ul>
		<li>Reporting issues and bugs via our <a href="https://github.com/andreashlarsen/SAStutorials/issues" target="_blank" >GitHub page</a>. This could be typos, dead links etc., but also insufficient information or unclear instructions.</li>
		<li>Suggesting new tutorials/additions/improvements in the <a href="https://github.com/andreashlarsen/SAStutorials/discussions" target="_blank" >SAStutorials forum</a>.</li>
		<li>Posting or answering questions in the <a href="https://github.com/andreashlarsen/SAStutorials/discussions" target="_blank" >SAStutorials forum</a>.</li>
	</ul>
<br>
	
<h4><a href="../index.html">Home</a></h4>

<!-- end inner -->
</div>
	
<!-- end main -->
</div>

<!-- end wrapper -->
</div>
	
<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
<script>MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}};</script> 
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

</body>	
</html>
